<!-- ******ABOUT****** --> 
<section id="about" class="about section">
<div class="container">
  <h2 class="title text-center">What is ESP?</h2>
  <p class="intro text-center">Endpoints Server Proxy, a.k.a. ESP is a proxy which enables API management capabilities for JSON/REST or gRPC API services. The current implementation is based on an NGINX HTTP reverse proxy server.</p>
  <div class="row">
    <div class="item col-md-4 col-sm-6 col-xs-12">
      <div class="icon-holder">
        <i class="fa fa-eye"></i>
      </div>
      <div class="content">
        <h3 class="sub-title">Monitoring/Logging</h3>
        <p>Endpoints writes structured logs for each call (containing method names, API keys, etc) and monitors API specific metrics (all visible in the Google Cloud Console).</p>
      </div><!--//content-->
    </div><!--//item-->
    <div class="item col-md-4 col-sm-6 col-xs-12">
      <div class="icon-holder">
        <i class="fa fa-key"></i>
      </div>
      <div class="content">
        <h3 class="sub-title">Developer Management/API keys</h3>
        <p>Endpoints exposes the same API key infrastructure that Google uses for access to its own APIs. You can configure your API to require a key for any call.</p>
      </div><!--//content-->
    </div><!--//item-->
    <div class="item col-md-4 col-sm-6 col-xs-12">
      <div class="icon-holder">
        <i class="fa fa-lock"></i>
      </div>
      <div class="content">
        <h3 class="sub-title">Authentication</h3>
        <p>Endpoints supports two flavors of user authentication -- through authentication services Auth0, Google Identity Toolkit and Google issued ID tokens.</p>
      </div><!--//content-->
    </div><!--//item-->          
  </div><!--//row-->
  <div class="row">
    <div class="item col-md-4 col-sm-6 col-xs-12">
      <div class="icon-holder">
        <i class="fa fa-cloud"></i>
      </div>
      <div class="content">
        <h3 class="sub-title">Language Independent</h3>
        <p>Endpoints allows you to choose any execution environment (App Engine, Managed VMs or Compute Engine), as well as choosing your framework (Python, Flask or Django, etc).</p>
      </div><!--//content-->
    </div><!--//item-->                
    <div class="item col-md-4 col-sm-6 col-xs-12">
      <div class="icon-holder">
        <i class="fa fa-code"></i>
      </div>
      <div class="content">
        <h3 class="sub-title">Swagger</h3>
        <p>Endpoints uses a Swagger to learn about your API. Swagger is an open source specification for defining an API, maintained by the Open API Foundation.</p>
      </div><!--//content-->
    </div><!--//item-->
    <div class="item col-md-4 col-sm-6 col-xs-12">
      <div class="icon-holder">
        <i class="fa fa-sitemap"></i>
      </div>
      <div class="content">
        <h3 class="sub-title">Architecture</h3>
        <p>Endpoints has an improved architecture that increases performance over the previous release (both at startup time and latency on each call).</p>
      </div><!--//content-->
    </div><!--//item-->               
  </div><!--//row-->            
</div><!--//container-->
</section><!--//about-->
