<!-- ******DOCS****** --> 
<section id="docs" class="docs section">
<div class="container">
  <div class="docs-inner">
    <h2 class="title text-center">Get Started</h2>            
    <div class="block">
      <h3 class="sub-title text-center">Prerequisites</h3>
      <h4>Install GCloud with alpha commands included</h4>
      <p><a href="https://cloud.google.com/sdk/#Quick_Start" target="_blank">Details</a></p>
    </div><!--//block-->
  </div><!--//docs-inner-->         
</div><!--//container-->
</section><!--//docs->
