    <!-- ******FEATURES****** --> 
    <section id="features" class="features section">
        <div class="container text-center">
            <h2 class="title">Features</h2>
            <ul class="feature-list list-unstyled">
              <li><i class="fa fa-check"></i>Authentication supports Auth0 and Gitkit, etc.</li>
              <li><i class="fa fa-check"></i>API key validation</li>
              <li><i class="fa fa-check"></i>JSON to gRPC transcoding</li>
              <li><i class="fa fa-check"></i>API-level monitoring, tracing and logging</li>
              <li><i class="fa fa-check"></i>More features coming in the near future: quota, billing, ACL, etc.</li>
              <li><i class="fa fa-check"></i>API service can be implemented in any coding language using any IDLs</li>
              <li><i class="fa fa-check"></i>Supports the deployment on any cloud or on-premise environment</li>
              <li><i class="fa fa-check"></i>Low latency and high throughput</li>
            </ul>
        </div><!--//container-->
    </section><!--//features-->
